/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    background-image: url(../img/cork.png);
}

/* Header */

header {
    background-image: url(../img/wall.png);
}

.header-title {
    text-align: center;
    padding: 1rem;
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Edu TAS Beginner', sans-serif;
}

/* Main */

#container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Cards */

.card {
    padding: 0 1rem;
    background-color: white;
    margin-top: 2rem;
    flex-basis: calc((100% - 4rem) / 3);
}

.card-pin {
    position: relative;
}

.card-pin-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.card-img-container {
    padding-top: 1rem;
}

.card-img {
    max-width: 100%;
}

.card-title {
    font-family: 'Sometype Mono', monospace;
    padding-top: 1rem;
}

.card-date {
    font-family: 'Edu TAS Beginner', sans-serif;
    padding-bottom: 1rem;
}

/* Responsive */

/* Tablet */

@media screen and (max-width:955px) {

     .header-title{
        font-size: 5rem;
    }

    #container {
        width: 80%;
    }

    .card {
        flex-basis: calc((100% - 2rem) / 2);
    }

}

/* Smartphone */

@media screen and (max-width:480px) {
    .header-title{
        font-size: 4rem;
    }

    #container {
        width: 70%;
    }

    .card {
        flex-basis: 100%;
    }

}