/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    background-image: url(../img/cork.png);
}

/* Header */

header{
    background-image: url(../img/wall.png);
}

.header-title{
    text-align: center;
    padding: 1rem;
    font-size: 5rem;
    font-family: 'Sometype Mono', 'monospace';
}

/* Main */

.container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Cards */

.card{
    padding: 0 1.5rem;
    background-color: white;
    margin-top: 2rem;
    flex-basis: calc((100% - 4rem) / 3);  
}

.card-pin{
    position: relative;
}

.card-pin-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -15px;
}

.card-img-container{
    padding-top: 1rem;
}

.card-img{
    max-width: 100%;
    max-height: 100%;
}

.card-title{
    font-family: 'Sometype Mono', 'monospace';
    padding-top: 1.5rem;
}

.card-date{
    font-family: 'Edu Tas Beginner', sans-serif;
    padding-bottom: 1.5rem;
}
