/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    background-image: url(../img/cork.png);
}

.display-none {
    display: none;
}

/* Header */

header {
    background-image: url(../img/wall.png);
}

.header-title {
    text-align: center;
    padding: 1rem 0;
    font-size: 6rem;
    font-weight: 900;
    font-family: 'Edu TAS Beginner', sans-serif;
}

/* Main */

#container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Cards */

.card {
    padding: 0 1rem;
    background-color: white;
    margin-top: 2rem;
    flex-basis: calc((100% - 4rem) / 3);
}

.card-pin {
    position: relative;
}

.card-pin-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
}

.card-img-container {
    padding-top: 1rem;
}

.card-img {
    max-width: 100%;
}

.card-title {
    font-family: 'Sometype Mono', monospace;
    padding-top: 1rem;
}

.card-date {
    font-family: 'Edu TAS Beginner', sans-serif;
    padding-bottom: 1rem;
}

/* Overlay */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.overlay-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.overlay-button-container {
    text-align: center;
}

#overlay-button {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#overlay-img {
    width: 600px;
    height: 600px;
}



/* Responsive */

/* Tablet */

@media screen and (max-width:955px) {

    #container {
        width: 80%;
    }

    .card {
        flex-basis: calc((100% - 2rem) / 2);
    }

    #overlay-img {
        width: 400px;
        height: 400px;
    }
}

/* Smartphone */

@media screen and (max-width:480px) {
    .header-title {
        font-size: 4rem;
    }

    #container {
        width: 70%;
    }

    .card {
        flex-basis: 100%;
    }
}